<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ais\RestApi\Api\ProductRepository\ProductRepositoryInterface" type="Ais\RestApi\Model\Api\ProductRepository\ProductRepository"/>
    <preference for="Ais\RestApi\Api\ProductRepository\RequestItemInterface" type="Ais\RestApi\Model\Api\ProductRepository\RequestItem"/>
    <preference for="Ais\RestApi\Api\ProductRepository\ResponseItemInterface" type="Ais\RestApi\Model\Api\ProductRepository\ResponseItem"/>
</config>